<h1><strong>Welcome to Module 1</strong></h1>

In this module we are going to look at the following:
1.   The **print** statement
2.   Adding comments
3.   The basic data types in python: Int, Float, Bool and Strings
4.   Arithmetic operators and expressions
5.   Boolean expressions
6.   Variables
7.   The **input** command

<h2> The <em>print</em> statement</h2>

The ***print*** statement is a built-function used to display output on the console. It can be used to print a message (i.e. text), a value (i.e. number) or a combination of both.

The syntax for writing a ***print*** statement is shown below,

```
print("Hello, World!")
```
The command above displays the text "Hello, World!" into the console. 

Try this yourself. First, create a code cell below this cell and print the following text. "Hi! My name is your-name-goes-here".

In [ ]:
print("Hi! My name is Ammar")

We can use the print statement to display values as well. Look at the example below.

```
print(25)
```
The above code can be used to print the value 25.

<h2>Python's basic data types</h2>

In programming, data is a fundamental concept. Data types define the type of data that can be stored in a variable. Understanding data types is critical for writing correct and efficient Python programs. In Python, there are four main data types that you can work with: 

*   Integers
*   Floats
*   Strings
*   Booleans

<h3>Integers</h3>

Integers are whole numbers with no decimal points. They can be positive or negative. In Python, integers are represented using the <strong><em>'int'</em></strong> data type. For example, 5, -10, and 0 are all integers. You can perform arithmetic operations on integers, such as addition, subtraction, multiplication and many more.

Examples of integers are: 5, 10, -60, 31

<h3>Floats</h3>

Floats, also called floating points, are decimal numbers. They can be positive or negative. In Python, floats are represented using the <strong><em>'float'</em></strong> data type. For example, 3.14, -2.5, and 0.0 are all floats. You can perform arithmetic operations on floats, just like with integers.

Examples of floats are: 3.14, 5.0, 6.9, -27.5

<h3>Strings</h3>

Strings are sequences of characters. They can contain letters, numbers, and symbols. In Python, strings are represented using the <strong><em>'str'</em></strong> data type. You can create a string by enclosing characters in single or double quotes. For example, "hello", 'world', and "123" are all strings. You can perform string concatenation and indexing operations on strings.

One thing to note with strings. Be consistent with type of quotes's you use. If you use single quotes to start a string, then use single quotes to close the string. The code below will give you an error as there is inconsistency in the quotes used. 

```
print("Hello, World')
```
Try this yourself. Create a new code cell and try printing a string with non-matching quotes.

<h3>Booleans</h3>

Booleans are values that can be either true or false. In Python, booleans are represented using the <strong><em>'bool'</em></strong> data type. For example, True and False are booleans. Booleans are often used in control structures, such as if statements and loops, to determine which code to execute.

<h3>The <strong><em>type()</em></strong> function</h3>

The type() function is a built-in Python function that allows you to determine the type of an object. It takes an object as its argument and returns the type of the object.

The syntax of the type function is shown below.

```
# type(value)
```

In [ ]:
print(type(5)) # <class 'int'>

print(type(3.14)) # <class 'float'>

print(type("hello")) # <class 'str'>

print(type(True)) # <class 'bool'>

<h2>Arithmetic operators and Expressions</h2>

Arithmetic operators are used in Python to perform mathematical operations on numeric data types, such as integers and floats. There are several arithmetic operators in Python:

*  Addition (+): Adds two operands.
*  Subtraction (-): Subtracts the second operand from the first.
*  Multiplication (*): Multiplies two operands.
*  Division (/): Divides the first operand by the second.
*  Floor Division (//): Divides the first operand by the second and rounds down to the nearest integer.
*  Modulus (%): Returns the remainder of the division of the first operand by the second.
*  Exponentiation (**): Raises the first operand to the power of the second.

An expression is a combination of values, variables, and operators that are evaluated to produce a result. In Python, expressions can include arithmetic operations using the arithmetic operators listed above.

In [ ]:
print(2 + 3)
print(5 - 1)
print(3 * 4)
print(10 / 2)
print(7 // 3)
print(11 % 3)
print(2 ** 4)

<h4>Operator Precedence</h4>

In Python, arithmetic operators follow a specific order of precedence (PEDMAS). This determines the order in which the operators are evaluated in an expression. The order of precedence is as follows:

* Parentheses
* Exponentiation (**)
* Multiplication (*), Division (/), Floor Division (//), and Modulus (%)
* Addition (+) and Subtraction (-)

You can use parentheses to group operations and change the order of precedence. For practice, trying calculate what the below expressions will equate to. Before you run cell, analyze each expression.

In [ ]:
print(3 + 5 * 2)

In [ ]:
print(4 / 2 * 3)

In [ ]:
print(2 + 6 / 2 ** 2)

In [ ]:
print(10 % 3 + 2 * 4)

In [ ]:
print((5 + 3) * 2 - 4 / 2)

<h2>Boolean expressions</h2>

Boolean expressions are expressions that evaluate to a Boolean value, which is either True or False. Boolean expressions are commonly used in programming for making decisions and controlling the flow of code execution.

For example consider the expression below:
```
3 + 5 * 2 == 14 - 1
```
Notice what we have is two arithmetic expressions on either side of the '==' operator. This operator checks to see if the expression on the RHS of the operator equals the expression on the LHS of the operation. In this case both the expressions equal 13 and hence the boolean expressions will equate to True.

In [ ]:
print(3 + 5 * 2 == 14 - 1)

If we want to check if the two expressions do not equate to the same value then we can use the '!=' operator.

In [ ]:
print(25 != 5 ** 3)

We can also use the "<", "<=", ">" and ">=" operators for our boolean expressions.

In [ ]:
print(10 < 5)
print(25 >= 25)
print(5 > 0)
print(5 <= 10)

<h3>Combining Boolean expressions</h3>

We can combine multiple boolean expressions together using the "and", "or" and "not" logics operators.

The "and" returns True only if all the expressions equate to True

The "or" operator returns True if any one of the expressions equate to True

The "not" operator returns the opposite of the operand's value (i.e. 'True' becomes "False" and vice-versa)

In [ ]:
print(5 > 0 and 10 < 15)
print(5 < 0 and 10 < 15)

print(5 < 0 or 10 < 15)
print(5 < 0 or 10 > 15)

print(not 5 < 0)
print(not 10 > 0)

<h2>Variables</h2>

<h3>Intro to variables</h3>

One of the most powerful features of a programming language is the ability to
manipulate variables. A variable is a name that refers to a value.

<h3>Assigning Values to Variables</h3>

To assign a value to a variable in Python, you use the assignment operator (=). For example:

```
age = 35
name = "John"
is_active = True
```
Here, we assign the value 35 to the variable age, the string "John" to the variable name, and the Boolean value True to the variable is_active.

<h3>Variable naming conventions</h3>
There are some rules to follow when naming variables.

1.   Variable names can contain letters, numbers, and underscores. They cannot begin with a number.
2.   Python is a case-sensitive language, so age and Age are considered to be different variable names.
3.   Avoid using reserved keywords as variable names, such as if, while, for, and class. 

Are these valid variable names?
```
age
break
1Direction
my_age
```


In addition to these rules, there are some guidelines to be used,

1.   Use descriptive and meaningful names. For example, X0910e is a valid variable name as it doesn't break any of the rules. However, it does not help us understand the value being stored inside the variable.
2.   Avoid using names that are too short or too generic, such as x or temp.
3.   Be consistent in your naming conventions throughout your code.

<h3>Using variables</h3>

Once you have assigned a value to a variable, you can use the variable in your code to perform operations on that value. For example:

```
age = 35
age = age + 1
print(age) # 36
```